@model SatyaMvc4Crud.Models.Customer
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAllCustomerDetails</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <header>
        <p style="text-align:center; background-color:cornflowerblue; color:white; ">List Customer</p>
    </header>
   
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="text-align:right">
                @Html.ActionLink("List Customer", "ShowAllCustomerDetails", "Customer")
                <br />
                @Html.ActionLink("New Customer", "InsertCustomer", "Customer")
            </div>
            <div class="col-md-9">
                <table class="table" align="center">
                        <tr style="background-color:khaki">
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Mobileno)
                            </th>
                            <th sscope="col">
                                @Html.DisplayNameFor(model => model.Birthdate)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.EmailID)
                            </th>
                            <th scope="col">
                                Operation
                            </th>
                        </tr>


                    @foreach (var item in Model.ShowallCustomer)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobileno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Birthdate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailID)
                            </td>
                            <td>
                                @Html.ActionLink("Modify", "Edit", new { id = item.CustomerID }) |
                                @Html.ActionLink("Detail", "Details", new { id = item.CustomerID }) |
                                @Html.ActionLink("Remove", "Delete", new { id = item.CustomerID },
                                new { onclick = "return confirm('Are sure wants to delete?');" })
                            </td>
                        </tr>

                    }
                </table>
            </div>
        </div>
        
        @if (TempData["insertedSuccess"] != null)
        {
            <script type="text/javascript">

                alert("Record Is Inserted Successfully");
            </script>

        }
        @if (TempData["updatedSuccess"] != null)
        {
            <script type="text/javascript">

                alert("Record Is Updated Successfully");
            </script>

        }
        @if (TempData["deletedSuccess"] != null)
        {
            <script type="text/javascript">

                alert("Record Is Deleted Successfully");
            </script>

        }
    </div>
    </>
</body>
</html>
@{
    ViewBag.Title = "ShowAllCustomerDetails";
}



